
/* Setup */

* {
	box-sizing: border-box;
	/* Uncomment the line below for debugging */
	/* border: solid black 1px !important; */
}

/* Tag Styles */

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 80vw;
	margin: auto;
}

body > * {
	margin: 2%;
}

header, main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

main {
	font-size: 1.25rem;
}

main > img {
	width: 100%;
	height: auto;
	border: solid 3px rgb(222, 144, 0);
	margin: 5px 0;
}

footer {
	border-top: solid 3px rgb(222, 144, 0);
	display: flex;
	flex-direction: column;
}

/* Class Styles */

.navItem {
	margin: 10px 0;
	padding: 0 20px;
	font-size: 1.75rem;
	color: black;
}

/* This neat hack will target the second navItem sibling onwards */
.navItem + .navItem{
	border-left: solid 3px black;
}

.bulletinItem {
	width: 45%;
	padding: 2%;
	background-color: rgb(155, 180, 240);
	border-radius: 1rem;
	margin: 2%;
}

.bulletinItem h3 {
	text-align: center;
}

.bulletinLink {
	display: block;
	margin: 1rem;
}

.client {
	width: 100%;
	background-color: rgb(155, 180, 240);
	border-radius: 1rem;
	padding: 1rem;
	margin: 1rem 0;
}

.clientShowcase {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.clientShowcase > * {
	width: 48%;
}

/* ID Styles */

#logoContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#logo {
	max-height: 20vh;
	width: auto;
	height: auto;
}

#navbar {
	width: 100%;
	border-top: solid 3px rgb(222, 144, 0);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#bulletinBoard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#mapEmbed {
	width: 100%;
	height: 5in;
	margin: 5% 0;
	border: solid 3px rgb(222, 144, 0);
}

#directorImg {
	width: auto;
	height: 30vh;
	float: left;
	margin: 1rem;
}